<h3>My Wallets</h3>
<table class="table table-striped">
    <tr>
        <td colspan="2">
            <span>Total value: ${{ totalValue | number:2 }}</span>
        </td>
        <td>
            <button ng-click="updateBalances()" class="btn btn-primary">Refresh all</button>
        </td>
    </tr>
    <tr ng-repeat="wallet in wallets">
        <td>
            <img src="content/images/{{ symbols[wallet.currency] }}.png" width="32" height="32"/>
        </td>
        <td>
            <span>{{ wallet.balance | number:2 }} (${{ wallet.value | number:2 }})</span>
        </td>
        <td>
            <button ng-click="wallet.refreshing ? null : updateBalance(wallet)" class="btn btn-primary" ng-disabled="wallet.refreshing">Refresh</button>
        </td>
    </tr>
</table>