@using Empire.ServiceLayer.DataTransferObjects
@using Empire.Website.Helpers

@{
	ViewBag.Title = $"{TranslationHelper.SiteName} - {TranslationHelper.Translate("Product.Title")}";
}

<h1>@TranslationHelper.Translate("Product.Title")</h1>

@foreach (ProductDto product in Model)
{
	<div style="padding-top: 20px;">
		<span>@Html.DisplayFor(modelItem => product.Name)</span>

		<a onclick="showDetails(@product.Id)">Details</a>

		<div id="loading_@product.Id" class="spinner" style="display: none; padding: 10px">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<div id="details_@product.Id" style="display: none; padding: 10px">
			<div id="description_@product.Id"></div>
			<div id="price_@product.Id"></div>
		</div>
	</div>
}

<script>

	function showDetails(productId) {
		if ($("#details_" + productId).is(":visible")) {
			$("#description_" + productId).html("");
			$("#price_" + productId).html("");
			$("#details_" + productId).css("display", "none");
			$("#loading_" + productId).css("display", "none");
		}
		else {
			$("#loading_" + productId).css("display", "block");
			$.ajax({
				url: "/Product/Details",
				data: { productId: productId },
				datatype: "json",
				type: "GET",
				success: function (data) {
					$("#description_" + productId).html(data.Description);
					$("#price_" + productId).html(data.PriceFormatted);
					$("#details_" + productId).css("display", "block");
					$("#loading_" + productId).css("display", "none");
				},
				error: function (data) {
					$("#description_" + productId).html("There was an error while getting the description");
					$("#price_" + productId).html("");
					$("#details_" + productId).css("display", "block");
					$("#loading_" + productId).css("display", "none");
				}
			});
		}
	}

</script>
